*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.baner{
  width: 100%;
  background-image: url(./img/bg.png);
  background-size:cover;
  height: 100vh;
  overflow: hidden;
}
/* @media only screen and (min-width:300px) and (max-width:400px) {
  body{
    width:100%;
  }
  .png h1{
   display: none;
    font-size: 20px;
  }
  .baner{
    height: 50vh;
  }
   
}
@media only screen and (min-width:400px) and (max-width:500px) {
body{
  width: 100%;
}
.baner{
  height: 70vh;
}
}
@media only screen and (min-width:500px) and (max-width:700px) {
  body{
  width: 100%;
  }
  .png h1{
  display: none;
  }
  .baner{
    height: 100vh;
  }
}
  @media only screen and (min-width:800px) and (max-width:870px) {
    body{
    width: 100%;
    }
    .png h1{
      align-items: center;
      font-size: 50px;
    }
    .img{
      width: 700px;
      height: 600px;
    position: relative;
    right: 300px;
    }
    .baner{
      height: 100vh;
    }
} */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 1.5s;
}
.logo:hover{
  transform: scale(1.3);
}
span{
  color: red;
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  text-align: center;
}
nav ul li a{
color: white;
text-decoration: none;
font-weight: bold;
text-transform: capitalize;
transition: 1s;
}
nav ul li a:hover{
  color: red;
}
#shop{
  color: white;
  padding: 10px 25px;
  width: 100px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  color: beige;
  transition: 1s;
}
#shop:hover{
  transform: scale(1.2);
}
hr{
  height: 10px;
  color: antiquewhite;
}
h3{
  color: white;
  font-size: 25px;
}
h1{
  font-size: 60px;
  color: antiquewhite;
}
.content{
  position: relative;
}
.img{
  width: 700px;
  height: 600px;
position: absolute;
right: 100px;
}

.text{
  position: absolute;
  top: 130px;
  left: 100px;
  padding: 10px 35px;
}
.btn{
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 30px;
  background-color: blanchedalmond;
}
.HISTORY{
  width: 450px;
  height: 300px;
  border-radius: 20px;
  position: relative;
  left: 100px;
}
.bt{
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(217, 151, 53);
  border: 1px solid transparent;
  color: white;
}
.mid h2{
  /*position: relative;
  right: -500px;
  top: 100px;*/
  font-weight: bold;
  font-size: 30px;
}
.mid p{
  line-height: 30px;
}
.about{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.png{
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: black;
}
.head{
  padding-top: 10px;
  text-align: center;
  color: gold;
}
.proudct{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(247, 242, 243); 
  width: 100%;
  padding-bottom: 30px;
}
.p1{
  margin-top: 20px;
  width: 310px;
  height: 420px;
  border: 1px solid rgba(168, 162, 162, 0.841);
  border-radius: 10px;
  background-color: #ffffffef;
  text-align: center;
  text-transform: capitalize;
}

.iced{
  width: 300px;
  background-color: #f2f2f2;
  height: 300px;
  border-radius: 10px;
}
.h2{
text-align: center;
color: #000;
font-weight: 800;
font-style: italic;
letter-spacing: 2px;
font-size: 20px;
font-family: sans-serif;
}
.box {
  width: 160px;
  height: 50px;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  background-color: #000;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}
.box:hover{
  background-color: #000;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
}
button span{
  color: #000;
}
button span:hover{
  color: #fff;
}

.box:hover:before {
  border-color: rgba(133, 189, 215, 0.8784313725);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: rgba(133, 189, 215, 0.8784313725);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.p1 a{
color: #000;
text-decoration: none;
}



footer {
  width: 100%;
  background-color: #071110;
}

footer .footer {
  margin: auto;
  padding-top: 90px;
  justify-content: center;
  text-align: center;
}
footer .footer .logo{
  align-items: center;
  font-family: "Ga Maamli", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 37px;
  color: #f2f2f2;
}
footer .footer .logo span{
  color: #ee0a0a;
}
footer .footer div {
  background: linear-gradient(to center, #1b3732, #132321 75%);
  background-position: center;
  width: 600px;
  margin: auto;
}

footer .footer ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  list-style: none;
}

footer .footer ul a {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #a7a7a7;
  text-decoration: none;
  transition: .8s;
}
footer .footer ul a:hover {
  transform: scale(1.2);
}
footer .footer ul a li i {
  font-size: 29px;
  filter: grayscale(100%);
  border: 10px solid #000;
  border-radius: 50%;
}
footer .footer ul a li i:hover {
  transform: scale(1.2);
}

footer .footer .copy {
  font-size: 12px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.492);
}